@font-face {
    font-family: Wind;
    src: url("/assets/fonts/Wind.otf") format("opentype");
}

@font-face {
    font-family: Xerid;
    src: url("/assets/fonts/w.otf") format("opentype");
}

@font-face {
    font-family: Megrim;
    src: url("/assets/fonts/Megrim-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Titillium Web;
    src: url("/assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Audiowide;
    src: url("/assets/fonts/Audiowide-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Anurati;
    src: url("/assets/fonts/Anurati-Regular.otf") format("opentype");
}
